* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imgs/apae.png') no-repeat center center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.login-box {
    display: flex;
    background-color: #438967;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #438967;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

.divider {
    width: 3px;
    height: 200px;
    background-color: white;
    align-self: center;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white;
    min-width: 300px;
}

.right-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

input {
    border: none;
    background: transparent;
    outline: none;
    color: #87bda2;
    width: 100%;
    font-size: 18px;
}

input::placeholder {
    color: #87bda2;
}

button {
    background-color: #ffffff;
    color: #438967;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #87bda2;
    color: #ffffff;
}
